<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">

    <!-- List for product sorting -->
        <li class="nav-item dropdown">
            <a class="logo-font text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">
                    By Price
                </a>
                <a href="" class="dropdown-item ">
                    By Category
                </a>
                <a href="" class="dropdown-item">
                    All Products
                </a>
            </div>
        </li>

    <!-- List for product selecting -->
        <li class="nav-item dropdown">
            <a class="logo-font text-white mr-5" href="#" id="cues-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cues
            </a>
            <div class="dropdown-menu" aria-labelledby="cues-link">
                <a href="" class="dropdown-item">
                    Billiards
                </a>
                <a href="" class="dropdown-item">
                    Pool
                </a>
                <a href="" class="dropdown-item">
                    Snooker
                </a>
                <a href="" class="dropdown-item">
                    All Cues
                </a>
            </div>
        </li>

    <!-- List for product selecting -->
        <li class="nav-item dropdown">
            <a class="logo-font text-white mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">
                    Billiards
                </a>
                <a href="" class="dropdown-item">
                    Pool
                </a>
                <a href="" class="dropdown-item">
                    Snooker
                </a>
                <a href="" class="dropdown-item">
                    All Accessories
                </a>
            </div>
        </li>

    <!-- List for product selecting -->
        <li class="nav-item dropdown">
            <a class="logo-font text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New/Deals
            </a>
            <div class="dropdown-menu" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">
                    New
                </a>
                <a href="" class="dropdown-item">
                    Deals
                </a>
                <a href="" class="dropdown-item">
                    All
                </a>
            </div>
        </li>
    </ul>
</div> 