{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block inner_content %}

    <div class="col text-center">
        <hr>

    <!-- Title -->
        <h2 class="logo-font">
            Password Reset
        </h2>
        <hr>
    </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="text-center">
        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
    </p>
{% endblock %}