{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}Change Password{% endblock %}

{% block inner_content %}
    
    <div class="col text-center">
        <hr>

    <!-- Title -->
        <h2 class="logo-font">
            {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
        </h2>
        <hr>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                
            <!-- Buttons -->
                <div class="mb-5 text-center">
                    <div class="submit-button col-5 mt-3 shop-now-div d-inline-block">
                        <input class="font-weight-bold shop-now-button btn text-uppercase py-3 text-green-rb  w-100" type="submit" name="action" value="'change password"/>
                    </div>
                </div>
            </form>
        {% else %}
            <p>
                'Your password is now changed.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}