{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block inner_content %}
    <div class="col text-center">
        <hr>

    <!-- Title -->
        <h2 class="logo-font">
            Password Reset
        </h2>
        <hr>
    </div> 

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        
    <!-- Buttons -->
        <div class="mb-5 text-center">
            <div class="submit-button col-5 mt-3 shop-now-div d-inline-block">
                <a class="font-weight-bold shop-now-button btn text-uppercase py-3 text-green-rb w-100" href="{% url 'account_login' %}">
                    Back to Login
                </a>
            </div>
            <div class="submit-button col-5 mt-3 shop-now-div d-inline-block">
                <input class="font-weight-bold shop-now-button btn text-uppercase py-3 text-green-rb w-100" type="submit" value="Reset My Password" />
            </div>
        </div>
    </form>

    <p>
        Please contact us if you have any trouble resetting your password.
    </p>
{% endblock %}