{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
            
            <!-- Title -->
                <h2 class="logo-font">
                    Product Management
                </h2>
                <h5 class="text-muted">
                    Edit a Product
                </h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

            <!-- Form - Fields -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="mb-5 text-center">
                        <div class="submit-button col-5 mt-3 shop-now-div d-inline-block text-center">
                            <a class="font-weight-bold shop-now-button btn text-uppercase py-3 text-green-rb" href="{% url 'products' %}">
                                Cancel
                            </a>
                        </div>
                        <div class="submit-button col-5 mt-3 shop-now-div d-inline-block text-center">
                            <button class="font-weight-bold shop-now-button btn text-uppercase py-3 text-green-rb" type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        // Image button
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}